<div class="intro">
    <p>Welcome to Linesheets, a b2b wholesale ecommerce platform that allows wholesale companies like you to easily sell your products online. With our platform, you will be able to build your linesheets, share them with your buyers, and capture orders.</p>
    <br>
    <br>
    <p>If you haven't already, please sign up for account and start listing your products!</p>
</div>
<%= yield %>
<br>