<h1>About Page</h2>

<div class="intro">
    <h2>About</h2>
    <p>A B2B wholesale ecommerce platform: Build your linesheets, share them with your buyers, capture orders, and track payments.</p>
    <p>Welcome to Linesheets, a b2b wholesale ecommerce platform that allows wholesale companies like you to easily sell your products online.</p>
    <br>
    <br>
    <p>If you haven't already, please sign up for account and start listing your products!</p>
</div>
<%= yield %>
<br>