<div class="intro">
    <a href="#"><img src="http://i.imgur.com/XmHv8MM.png" title="linesheet logo" /></a>
    <h2>A B2B wholesale ecommerce platform</h2>
    <p>Build your linesheets, share them with your buyers, capture orders, and track payments</p>
</div>