* {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

h1, h2, body, a {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #b0e2d2;

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.form-container {
  border-radius: 5px;
  padding: 20px;
}

.form-input {
  text-align: left;
  display: inline-block;
}

.field {
  align-items: center;
  text-align: center;
  width: 40%;
  margin: 0 0 0 145px;
}

.field-login {
  align-items: center;
  text-align: center;
  width: 40%;
  margin: 0 0 0 100px;
}

.nav-wrapper {
  text-align: right;
}

.intro, .footer, .actions {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.intro {
  margin: 20px;
}

.footer {
  position: relative;
  bottom: 0px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
}

input {
  height: auto !important;
}

.products-grid, table, th, td {
  font-size: 14px;
  margin: 0 auto;
  border: 1px solid #CCCCCC;
  text-align: center;
}

#notice {
  color: #b0e2d2;
  text-align: center;
}

.field_with_errors {
  color: #b0e2d2;
  display: inline;
}

.error_messages {
  color: #b0e2d2;
}

.products-grid-div {
  font-size: 13px;
  max-width: 1200px;
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  // float: left;
}

.products-header-div {
  text-align: center;

}
.well {
  float: left;
  margin: 0 auto;
}

.flex-view {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  margin: 20px;
  align-items: center;
  text-align: center;
}